$container-bg-primary: #fff;
$container-bg-secondary: #F7F9FB;

$nav-bg: #FFF;
$nav-bg-top: #F7F9FB;

$logo-color: #262F56;

$element-bg-primary: #fff;
$element-bg-primary2: #F7F9FB;
$element-bg-primary3: #F7F9FB;
$element-bg-secondary: #F7F9FB;
$basket-bg-primary: #E3E5EB;
$basket-bg-secondary: #fff;
$actions-bg: rgba(255, 255, 255, 0.95);

$text-color-primary: #000;
$text-color-primary-rgba: rgba(0, 0, 0, 0.6);
$text-color-primary2: #999;
$text-color-secondary: #fff;
$text-color-tertiary: #747474;
$text-color-active: #56BE89;
$text-color-link: #4DA1FF;
$text-color-filter-title: #31335d;
$text-color-filter-header: #8c8e8f;
$text-color-show-more: #484B80;

$button-color-primary: #57AD82;
$button-color-primary-hover: #46936C;
$button-color-secondary: #484B80;

$border-color-primary: #D8D8E9;
$border-color-secondary: #D8D8E9;
$border-color-filter: #D8D8E9;
$border-color-filter-divider: #D8D8E9;
$border-color-filter-header: #31335d;
$border-color-search-item: #cfd6dd;
$border-color-search-item2: #cfd6dd;
$border-color-load-more: #cfd6dd;

$substrate-color-primary: #f2f2f2;
$substrate-color-secondary: #fff;