//footer
@include b(footer) {
  background: #f7f9fb;
  margin-top: 54px;
}

//header {
@include b(header) {
  @include e(panel) {
    height: 50px;
    background: #f7f9fb;
  }
  @include e(navigation) {
  }
}

//navigation
@include b(navigation) {
  @include e(wrapper) {
    height: 80px;
  }
  @include e(menu) {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    font-weight: 700;
    font-size: 15px;
    > li {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
